{% extends 'base.html' %}

{% block main %}
<!-- contact section start -->
<div class="collection_text" style="margin-bottom: 10%;">Log in</div>
<div class="container" style="margin-bottom: 10%">
    <div class="row">
        <div class="col-md-12">
            <div class="email_box">
                <div class="input_main">
                    <div class="container">
                        <form action="{% url 'login' %}" method="post">

                            {% load crispy_forms_tags %}
                            {% csrf_token %}

                            {{form|crispy}}


                            <div class="send_btn">
                                <button class="main_bt" id="submit" type="submit">Log in</button>
                            </div>
                        </form>

                        <a style="padding: 1%; color: white;" href="{% url 'register' %}">Or sign-up</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block local_js %}

<script>
    // $('#submit').click(function () {
    //     console.log($('#username').val()),
    //         console.log('here'),
    //         $.ajax({
    //             url: '{% url "login" %}',
    //             dataType: "json",
    //             type: 'post',
    //             async: true,
    //             data: {
    //                 'username': $('#username').val(),
    //                 'password': $('#password').val(),
    //                 'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
    //             },

    //             success: function (res) {

    //                 $.ajaxSetup({
    //                     headers: {
    //                         "token": res.auth_token

    //                     }
    //                 });

    //                 authToken = res.auth_token;

    //                 //window.location.replace("{% url 'home' %}");

    //             },
    //             error: function (xhr, exception) {
    //                 let msg = "";
    //                 if (xhr.status === 0) {
    //                     msg = "Not connect.\n Verify Network." + xhr.responseText;
    //                 } else if (xhr.status == 404) {
    //                     msg = "Requested page not found. [404]" + xhr.responseText;
    //                 } else if (xhr.status == 500) {
    //                     msg = "Internal Server Error [500]." + xhr.responseText;
    //                 } else if (exception === "parsererror") {
    //                     msg = "Requested JSON parse failed.";
    //                 } else if (exception === "timeout") {
    //                     msg = "Time out error." + xhr.responseText;
    //                 } else if (exception === "abort") {
    //                     msg = "Ajax request aborted.";
    //                 } else {
    //                     msg = "Error:" + xhr.status + " " + xhr.responseText;
    //                 }

    //                 console.log(msg)
    //                 alert(msg)

    //             }
    //         })
    // })
</script>

{% endblock %}